<div class="row">

    <div class="col-md-3">
        <mat-form-field class="tags-dropdown">
          <mat-select (selectionChange)="tagChanged($event)" placeholder="Tags" [(value)]="selectedTag">
            <mat-option value="*">All Tags</mat-option>
            <mat-option *ngFor="let tag of tags;" [value]="tag._id" [ngStyle]="{ backgroundColor: tag.color }">
              {{tag.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

  <div class="col-md-3">
    <mat-form-field class="tools-dropdown">
      <mat-select (selectionChange)="toolChanged($event)" placeholder="Tool" [(value)]="selectedTool">
        <mat-option value="*">All Tools</mat-option>
        <mat-option *ngFor="let tool of tools" [value]="tool._id">
          {{tool.serialNumber}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="col-md-3">
    <mat-form-field class="chambers-dropdown">
      <mat-select (selectionChange)="chamberChanged($event)" placeholder="Chamber" [(value)]="selectedChamber">
        <mat-option value="*">All Chambers</mat-option>
        <mat-option *ngFor="let chamber of chambers; let i = index;" [value]="i + 1">
          {{chamber}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-3">
    <mat-form-field class="chambers-dropdown">
      <mat-select (selectionChange)="statusChanged($event)" placeholder="Status" [(value)]="selectedStatus">
        <mat-option value="*">All Statuses</mat-option>
        <mat-option value="resolved">
          Resolved
        </mat-option>
        <mat-option value="Resolved and follow up">
          Resolved and follow up
        </mat-option>
        <mat-option value="In progress">
          In progress
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>


<mat-accordion>
  <mat-expansion-panel *ngFor="let record of records">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="dot dot-{{record.status === 'In progress' ? 'red' : record.status === 'Resolved' ? 'green' : record.status === 'Resolved and follow up' ? 'yellow' : '' }}" ></span>
        {{record.headline}}
      </mat-panel-title>
      <mat-panel-description style="flex-grow: 0 !important;">
        <div style='margin-right: 20px;'>
            <span class="tool-serialnumber">{{record.serial_number}}</span> / {{record.chamber_num}} - {{record.chamber_kind}}
        </div>
        <div>
          {{record.user_name}} / {{record.date | date:'medium' }}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div style="font-family: Lucida Console; text-align:right;         
    font-size: 17px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
    margin: -14px 21px 6px;">{{record.event}}</div>
    <textarea class="descriptionTextArea" rows=5>{{record.description}}</textarea>

    <mat-accordion>
        <button style="position:relative; top:16px; margin: -16px 20px 6px;" (click)="addComment(record._id)" mat-fab color="primary"><mat-icon aria-label="Add comment">add_comment</mat-icon></button>

        <mat-expansion-panel style="position: relative;
        top: -44px;
        right: -92px;
        background-color: #eee;
        width: 87%;">
          <mat-expansion-panel-header style="background-color:#eee;">
            <mat-panel-title style="background-color:#eee;">
              All Comments ({{record.comments.length}})
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-vertical-stepper style="border-radius: 10px;">
              <mat-step *ngFor="let comment of record.comments" >
                <ng-template matStepLabel >
                  {{comment.user_full_name}} - {{comment.comment_date |  date:'medium' }}
                </ng-template>
                <div style="margin-bottom:20px;"> 
                    {{comment.comment_content}}
                </div>
                <mat-chip-list>
                    <mat-chip [ngStyle]="{ backgroundColor: tag.color }" *ngFor="let tag of comment.tags">{{tag.name}}</mat-chip>
                </mat-chip-list>
              </mat-step>
            </mat-vertical-stepper>
      
        </mat-expansion-panel>
      </mat-accordion>


  </mat-expansion-panel>
</mat-accordion>